/** @file Customization for Dual
 *
 */

@import "base";

.front .page-title {display: none;}

.clean-fairhaven-top-left h2 {margin-top: 0;}

.clean-fairhaven-bottom-left img {
  padding: 5px;
  background: #fff;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.clean-fairhaven-bottom-left h2,
.clean-fairhaven-bottom-right h2 {
  border-bottom: 2px solid $wwuRed;
}

@media all and (min-width:801px) {

  .site-name {
    max-width: 300px;
    padding-left: 0.25em;
  }

  .clean-fairhaven-middle-left,
  .clean-fairhaven-middle-center,
  .clean-fairhaven-middle-right {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 33.3%;
  }
}

